<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<a href="viewusers.jsp">View All Records</a><br/>  
  
<h1>Add New User</h1>  
<form action="insertbuku.jsp" method="post">  
<table>  
    <tr><td>id bahasa buku</td><td><input type="text" name="id_bahasa_buku"/></td></tr>
<tr><td>bahasa buku</td><td><input type="text" name="bahasa_buku"/></td></tr>  



<tr><td colspan="2"><input type="submit" value="Add User"/></td></tr>  
</table>  
</form> 
